body{
    /*background-color: gray;*/
    background-image: url(../../img/registerlogin/backgroungimage.gif);
}
#main{
    line-height: 0px;
    margin-top: 100px;
    /*margin-left: 650px;*/
    text-align: center;
}
h1{
    color: white;
}
#register1{
    width: 200px;
    margin-left: 640px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    line-height: 30px;
    border: solid;
    border-radius: 15px;
    background-color: snow;
}
.images{
    width: 162px;
}
footer{
    text-align: center;
    color: white;  
}
a:focus{
    color: lightseagreen;
}